<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div id="user-data"
            ngModelGroup="userData"
            #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input
                type="text"
                id="username"
                class="form-control"
                name="username"
                ngModel
                required
                minlength="4">
          </div>
          <button
            class="btn btn-default"
            type="button"
            (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
                type="email"
                id="email"
                class="form-control"
                name="email"
                ngModel
                required
                email
                #email="ngModel">
          </div>
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid e-mail.</span>
        </div>
        <p *ngIf="!userData.valid && userData.touched"> User data is not valid! </p> <div class="form-group">
        <label for="secret">Secret Questions</label>
          <select
            id="secret"
            class="form-control"
            name="secret"
            [ngModel]="defaultSecret"
            required>
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
            <textarea
                name="questionAnswer"
                cols="10"
                [(ngModel)]="answer"
                ></textarea>
        </div>
        <div>Your answer: {{ answer }}</div>
        <div class="radio" *ngFor="let gender of genders">
            <label for="gender">
                <input
                    type="radio"
                    name="gender"
                    ngModel
                    [value]="gender"
                    required>
                {{ gender }}
            </label>
        </div>
        <button 
            class="btn btn-primary"
            type="submit"
            [disabled]="!f.valid">Submit</button>
      </form>
    </div>
    <div class="row">
        <div class="col-md-12" *ngIf="submitted">
            <h3>Your submitted data: </h3>
            <p>Username: {{user.name}} </p>
            <p>E-mail: {{user.email}} </p>
            <p>Question: {{user.question}} </p>
            <p>Answer: {{user.answer}} </p>
            <p>Gender: {{user.gender}} </p>
        </div>
    </div>
  </div>
</div>
